{% extends 'website/base.html' %}

{% block title %}Nathaniel Moseley's Handheld Gaming Links{% endblock %}

{% block meta-description-page %}Links to pages for handheld gaming, hacks, and reference{% endblock %}

{% block meta-keywords-page %}NDS, PSP, Nintendo DS, PlayStation Portable, Handheld, Links, Hack, Rom, Games, Cheat, Rompack, Releases{% endblock %}

{% block header %}
	{% with header="Handheld Links" %}
	{{ block.super }}
	{% endwith %}
{% endblock %}

{% block content %}
<h3>General</h3>
<a href="http://advanscene.com/">Release Database</a><br/>
<a href="http://thepiratebay.org/user/ESPALPSP/">ESPALPSP Release Page</a><br/>
<a href="http://www.gamestorrents.com/eng/">Games Torrents Home</a><br/>
<h3>Nintendo DS</h3>
<a href="http://www.handheldsources.com/M3DS/Download_M3DSR.html">M3 DS Real Links Page</a><br/>
<a href="http://linfoxdomain.com/nintendo/ds/">Better Links Page</a><br/>
<a href="http://ndslcom/cheat-database/">CHEAT Database</a><br/>
<a href="http://cheats.gbatemp.net/">GBA Cheat Database Page</a><br/>
<a href="http://www.dsromorganizer.com/">DS ROM Organizer</a><br/>
<a href="http://thepiratebay.org/user/farnorth/">Farnorth Rompacks</a><br/>
<h3>PlayStation Portable</h3>
<a href="http://dark-alex.org/forum/">M33 Dark Alex Forums</a><br/>
<a href="http://cwcheat.consoleworld.org/">CWCheat Home</a><br/>
{% endblock %}
