{% extends 'website/base.html' %}

{% block title %}Favorite Quotes{% endblock %}

{% block meta-description-page %}collection of favorite quotes{% endblock %}

{% block meta-keywords-page %}Quotes{% endblock %}

{% block header %}
	{% with header="Some Quotes" %}
	{{ block.super }}
	{% endwith %}
{% endblock %}

{% block content %}
{% for quote in quotes %}
<blockquote><p>{{ quote.quote }}</p><footer>{{ quote.speaker }} in <cite title="{{ quote.title }}">{{ quote.title }}</cite></footer></blockquote>
{% endfor %}
{% endblock %}
