.hide {
	display: none;
}

.maxheight {
	max-height: 100%;
}

#content img, #content a {
	outline: none;
}

#content {
	background-color: white;
	color: white;
	padding: 1px 0;
	text-align: center;
}

#containerbox {
	height: 100%;
	position: relative;
	width: 100%;
}

#paddingbox {
	display: inline;
	margin: 0;
	padding: 0;
	text-align: center;
}

#imagebox, #linkbox {
	display: inline;
	max-width: 100%;
	width: 100%;
}

#image, #tmpimage, #loadingimage {
	border-style: none;
	max-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	vertical-align: middle;
}

#image {
	left: 0;
	position: relative;
	top: 0;
	z-index: 10;
}

#tmpimage {
	z-index: -30;
}

#loadingimage {
	margin: -33px 0 0 -33px;
	z-index: 20;
}

#controls {
	border-collapse: separate;
	border-spacing: 2px;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10001;
}

#info {
	background-color: #222222;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), color-stop(25%, #222222), to(#161616));
	background-image: -webkit-linear-gradient(#222222, #222222 25%, #161616);
	background-image: -moz-linear-gradient(top, #222222, #222222 25%, #161616);
	background-image: -ms-linear-gradient(#222222, #222222 25%, #161616);
	background-image: -o-linear-gradient(#222222, #222222 25%, #161616);
	background-image: linear-gradient(#222222, #222222 25%, #161616);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	filter: alpha(opacity=30);
	opacity: 0.3;
	padding: 1px 3px 2px;
}

.btn {
	background-color: #222222;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), color-stop(25%, #222222), to(#161616));
	background-image: -webkit-linear-gradient(#222222, #222222 25%, #161616);
	background-image: -moz-linear-gradient(top, #222222, #222222 25%, #161616);
	background-image: -ms-linear-gradient(#222222, #222222 25%, #161616);
	background-image: -o-linear-gradient(#222222, #222222 25%, #161616);
	background-image: linear-gradient(#222222, #222222 25%, #161616);
	display: table-cell;
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.btn:hover {
  background-color: #000000;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
  cursor: pointer;
}

.btn.active, .btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #166616;
  background-color: #096909 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}

#next, #previous {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

@media (max-width: 980px) {
	.navbar .nav > li {
		float: left;
	}

	.navbar .dropdown-menu li {
		display: none;
	}
}
